body {
  margin: 0;
  font-family: 'franklin-gothic-urw', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  background-color: #2f4f4f;
}

table {
  position: absolute;
  font-size: 12px;
  border-collapse: collapse;
  background-color: rgba(47, 79, 79, 0.85);
  z-index: 100;
}

th,
td {
  padding: 4px 6px;
  border: 0.5px solid #ffffff;
  text-align: left;
  vertical-align: top;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pulse {
  animation: pulse 2s ease infinite;
}

.touched {
  animation: none;
}

@keyframes pulse {
  0% {
    stroke: rgba(249, 191, 59, 1);
    stroke-width: 0;
  }

  100% {
    stroke: rgba(249, 191, 59, 0);
    stroke-width: 15;
  }
}
